{% include "header.html" %}

        <!-- Page Header-->
        <header class="masthead" style="background-image: url('../static/assets/img/about-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>About Me</h1>
                            <span class="subheading">This is what I do.</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p>Welcome to my blog! I'm Ravi Pratap Singh, and I'm thrilled to have you here.<br> I'm excited to share a variety of content that I hope will inspire, inform, and entertain you. Here’s a glimpse of what you can expect to find on my site:</p>
                        <h6>About Me</h6>
                        <p>I'm a Engineering student (B.tech) in Ghaziabad. With a passion for Computer Science & Engineering, I decided to start this blog to share my experiences, knowledge, and insights with the world, I aim to provide valuable content that resonates with you.</p>
                        <h6>Educational Content</h6>
                        <p> Learning is a lifelong journey, and I’m here to share knowledge on various subjects. Look out for: <br> 
                            Informative Articles: Detailed articles on topics I'm passionate about.<br>
                            Tutorials: Easy-to-follow tutorials on a range of subjects.<br>
                            Resources: Lists of resources that can help you learn and grow.</p>
                            <h6>Personal Stories and Experiences</h6>
                        <p>I love sharing my personal journey, from the highs to the lows, and everything in between. You'll find posts about:<br>
                            Life Lessons: Reflections on important lessons learned through personal experiences.<br>
                            Travel Adventures: Stories and tips from my travels around the world.<br>
                            Daily Life: Insights into my everyday life, including hobbies, routines, and personal growth.<br>
                </div>
            </div>
        </main>

{% include "footer.html" %}